---
http_interactions:
- request:
    method: get
    uri: http://openapi.etsy.com/v2/users?api_key=API_KEY&keywords=jonS2011
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      x-etsy-request-uuid:
      - 5rZUuxJe6Ho0Cu2ukDddNkAuNHHo
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"results":[{"user_id":17974443,"login_name":"jonS2011","creation_tsz":1322586362,"referred_by_user_id":null,"feedback_info":{"count":0,"score":null}}],"params":{"keywords":"jonS2011","limit":25,"offset":0,"page":null},"type":"User","pagination":{"effective_limit":25,"effective_offset":0,"next_offset":null,"effective_page":1,"next_page":null}}'
  recorded_at: Sat, 14 Jul 2012 17:51:00 GMT
recorded_with: VCR 2.2.3
