---
http_interactions:
- request:
    method: get
    uri: http://openapi.etsy.com/v2/users/__SELF__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="82844e5416174cd1776949f4d41a0fdd",
        oauth_signature="ygVkHHnvYU%2F5DDAVqUNCHWSyi08%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1342654545", oauth_token="OAUTH_TOKEN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-etsy-request-uuid:
      - R5-d23BmJI20Q_wuyTWipPqxlBaU
      x-cnection:
      - close
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"results":[{"user_id":17974443,"login_name":"jonS2011","primary_email":"example@example.com","creation_tsz":1322586362,"referred_by_user_id":null,"feedback_info":{"count":0,"score":null}}],"params":{"user_id":"__SELF__"},"type":"User","pagination":{}}'
  recorded_at: Wed, 18 Jul 2012 23:35:45 GMT
recorded_with: VCR 2.2.3
